.blog-wrap{
    max-width: none;
    margin: 0 auto;
}
.blog-goBack{
    text-decoration: none;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    margin-bottom:2rem ;
    display: block;
}

.blog-wrap header{
    text-align: center;
}
.blog-date{
    font-size:.8rem;
    color:black;
    font-weight: 500;
}
.blog-wrap img{
width: 100%;
}
.blog-desc{
    padding: 1rem;
    margin-top: 1.5rem;
}